body {
    background-color: #B0C4DE;
}

h1 {
    color: #87CEFA;
    text-align:center;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-family: Arial black;
}

h2 {
    color: #87CEFA;
    text-align:center;
    text-shadow: 2px 2px rgb(0, 0, 0);
    background-color: white;

}

img {
margin: 15px;
margin-left:  400px;
margin-right: 400px;
border: 2px solid rgb(255, 255, 255);
border-radius: 10px;
 }


.tui {
    text-align: center;
    margin-top: auto;
}

.loggor {
    text-align: center;
    text-decoration: underline;
    margin-top: 55px;
}

.mai {
    margin-left: 485px;
    border: none;
    margin-top: 120px;

}
footer {
    text-decoration: overline;
    text-align: center;
    margin-top: 60px;
}